<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/bootstrap.css" />
    <title>Not found</title>
</head>
<body>
        
    <div class="jumbotron jumbotron-nf ">
        <h1 class="display-4 text-center">404 - Not Found</h1>
        <p class="lead text-center text-muted"><%= message %></p>
    </div>

    <style>
        body {
            background-image: linear-gradient(
      to right,
      rgba(250, 250, 250, 0.568),
      rgba(250, 250, 250, 0.95)
    ),
    url(../public/002.png);
  background-size: cover;
        }
    </style>
    
    <script src="/public/jquery-3.6.0.min.js"></script>
    <script src="/public/bootstrap.js"></script>

</body>
</html>